# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Exclude generated Android build artifacts, but keep the Android project itself
/android/.gradle
/android/.gradle/**
/android/.kotlin
/android/.kotlin/**
/android/build
/android/build/**
/android/app/build
/android/app/build/**
/android/app/.cxx
/android/app/.cxx/**
android/.gradle/
android/.kotlin/
android/build/
android/app/build/
android/app/.cxx/
android/local.properties

# Ignore iOS if not building/uploading it
/ios

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

.env
.env.local
